/********** Base styles **********/
* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    text-align:center;
}

p {
    border: 1px solid black;
    background-color: gray;
    width: 90%;
    margin-right:auto;
    margin-left: auto;
    font-family: Helvetica;
    color: black;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
    p{
        height:220px;
    }
    .col-lg-4 {
        width: 33.33%;
        float: left;
        border: 1px solid black;
    }
   
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    p{
        height:200px;
    }
    .col-md-6 {
        width: 50%;
        float: left;
        border: 1px solid black;
    }
    .col-md-12 {
        width: 100%;
        float: left;
        border: 1px solid black;
    }
}

/********** small devices only **********/
@media (max-width: 767px) {
    p{
        height:auto;
    }
    .col-sm-12 {
        width: 100%;
        float: left;
        border: 1px solid black;
    }

}